.card-container {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 400px;
    height: 450px;
    overflow: hidden;
    box-shadow: 0 0.1875rem 0.4375rem 0 rgba(0,0,0,.13), 0 0.0625rem 0.125rem 0 rgba(0,0,0,.11);
    transition: .3s;
    animation: ease-in;
    background-image: linear-gradient
    (120deg, rgb(223, 232, 255), 
    rgb(255, 255, 255));
}

.card-container:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 15px #2d5673;
}

.image-container {
    margin-top: 1rem;
}

.image-container img {
    overflow: hidden;
    width: auto;
    height: 200px;
    aspect-ratio: 1;
    box-shadow: 0 0 7px #666;
}

.card-content {
    display: grid;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin: 1rem 0;
}

.card-title {
    margin-bottom: .5rem;
}

.card-body {
    display: grid;
    font-size: clamp(.5rem, 2.4vh, 3rem);
    margin: 1rem 0;
    gap: .5rem;
}

.card-phone {
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.card-email p {
    letter-spacing: .3px;
}

h2 {
    display: flex;
    text-align: center;
    letter-spacing: 1px;
}

h2,p {
    font-family: 'Rokkitt', serif;
    margin: 0;
    padding: 0;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn button {
    padding: .5rem;
    background-color: rgba(255, 255, 255, 0.001);
    border: none;
    transition: .2s;
    margin-bottom: .5rem;
    border-radius: 3px;
}

.btn button:hover {
    background: rgba(27, 156, 252, .1);
    transform: scale(1.05);
}

.btn a {
    font-size: clamp(1rem, 1.5vh, 2rem);
    text-transform: uppercase;
    color: #1B9CFC;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 40rem) {
    .card-container {
        width: 320px;
        height: auto;
    }

    .card-container:hover {
        transform: scale(1);
    }

    .btn a {
        font-size: clamp(.5rem, 2vh, 2rem);
    }
}