@font-face {
    font-family: "Roboto", sans-serif;
  	font-weight: 400;
  	font-style: normal;
	font-display: swap;
    src: local('Roboto'), 
	url('/fonts/Roboto-Regular.ttf')
	format('ttf');
}

* {
	box-sizing: border-box;
}

*::before, *::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1, h2, h3, p {
	font-family: "Roboto", sans-serif;
}

.title {
	text-align: center;
	text-decoration: underline;
	text-underline-offset: 3px;
	text-decoration-color: black;
	text-decoration-thickness: 6%;
	font-size: clamp(2rem, 3.8vh, 5rem);
	color: #055895;
	margin-bottom: 3rem;
	margin-top: 0;
}

#transition {
    animation: transitionIn .8s ease-in-out;
}

@keyframes transitionIn {
    from {
        opacity: 0;
		transform: translate3d(0, 10px, 0);
    }
    to {
        opacity: 1;
		transform: translate3d(0, 0, 0);
    }
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	overflow-x: hidden;
	font-family: "Roboto", sans-serif;
}

.sticky {
	position: sticky;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: #fff;
	z-index: 9999;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	gap: 1.5rem;
}

.primary-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 0.5rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.mobile-nav-toggle {
	display: none;
}

.primary-navigation {
	list-style: none;
	margin: 0;
}

.nav-text {
	font-size: clamp(1rem, 2.2vh, 2rem);
	text-decoration: none;
	color: #425abd;
	padding: 6px;
	position: relative;
}

.nav-text::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 2px;
	background-color: #055895;
	transition: .3s ease-in-out;
}

.nav-text:hover::before {
	width: 100%;
}

.image-header {
	display: flex;
	width: 20%;
}

.logo {
	width: 100%;
	max-width: 170px;
	height: auto;
	aspect-ratio: 3;
}

.cursor {
	display: inline-block;
	width: 3px;
	background-color: #000000;
	margin-left: .1rem;
	animation: blink .8s infinite;
}

.cursor.typing {
	animation: none;
}

@keyframes blink {
	from { opacity: 1; }
    to { opacity: 0; }
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 2rem;
	background: #aec4e1;
}

footer h3 {
	text-align: center;
	margin: 0;
	padding: 0;
	color: #ffffff;
	text-shadow: 1px 1px #000000;
	font-size: clamp(.5rem, 2.5vh, 3rem);
}

footer h3 span {
	color: #003860;
	text-shadow: none;
	font-size: clamp(.5rem, 2.2vh, 3rem);
}

footer h3 a span:hover {
	color: #1e94eb;
	transition: .1s ease-in-out;
}

footer h3 a {
	text-decoration: none;
}

footer h3 a:hover {
	color: #1e94eb;
	transition: .1s ease-in-out;
}

footer div a {
	color: #0077B5;
}

.linkedin {
	font-size: clamp(1rem, 3vh, 2rem);
}

.linkedin:hover {
	color: #1e94eb;
}

.bottom {
	display: block;
	padding: 0;
	text-align: center;
	background: #055895;
}

.bottom p {
	font-size: clamp(.5rem, 2vh, 2rem);
	color: white;
	margin: 0;
	padding: 1rem;
}

.bottom p a {
	color: white;
	text-decoration: none;
}

.bottom p a:hover {
	color: #6de6ff;
	text-decoration: underline;
	transition: .3s;
}

#back-to-top-btn {
	display: flex;
    align-items: center;
    justify-content: center;
	text-align: center;
	position: fixed;
	bottom: 25px;
	right: 25px;
	font-size: 30px;
	width: 50px;
	height: 50px;
	background-color: #fff;
	color: #333;
	cursor: pointer;
	outline: none;
	border: 3px solid #333;
	border-radius: 50%;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-property: background-color, color;
	z-index: 9999;
}

#back-to-top-btn:hover, #back-to-top-btn:focus {
	background-color: #425abd;
	color: #fff;
}

/* Animations */
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;  
  animation-name: btnExit;
}

/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

@media (max-width: 40rem) {
	#transition {
        animation: transitionIn .5s ease-in-out;
    }

	#primary-navigation {
		align-items: flex-start;
	}

	.primary-header {
		position: sticky;
		top: 0;
		right: 0;
		left: 0;
		z-index: 9999;
		background: #ffffff;
		border-radius: 0;
		padding-right: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
	
	.flex {
		justify-content: inherit;
		padding: 1rem;
	}
	
	.primary-navigation {
		gap: 3em;
		position: fixed;
		inset: 0 0 0 0;
		flex-direction: column;
		list-style: circle;
		padding: min(30vh, 5rem) 2em;
		padding-right: 0;
		transform: translateX(100%);
		transition: transform 350ms ease-out;
		background-image: linear-gradient(to bottom,hsl(215, 37%, 21%) 0%,hsl(215, 36%, 34%) 100%);
		/*background: hsl(215, 37%, 21%);*/
		z-index: 999;
	}
	
	.primary-navigation[data-visible="true"] {
		transform: translateX(0%);
	}

	.primary-navigation li::marker {
		color: #d7d7d7;
		margin: 0;
	}
	
	.nav-text {
		color: #ffffff;
		font-size: clamp(1rem, 3vh, 3rem);
		padding: 1rem .5rem;
		border-bottom: 1px solid white;
	}
	
	.nav-text:hover {
		background-color: white;
		color: #22334a;
		border-bottom: none;
		border-radius: 0;
		text-decoration: none;
		padding: 0 inherit;
	}

	.nav-text:before {
		display: none;
	}
	
	.mobile-nav-toggle {
		display: flex;
		align-items: center;
		aspect-ratio: 1;
		z-index: 9999;
		border: 0;
		color: rgb(0, 0, 0);
		background: none;
		background-repeat: no-repeat;
		font-size: 26px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
	}

	.image-header {
		width: 75%;
	}

	.logo {
		max-width: 150px;
	}

	footer .logo {
		display: inherit;
	}

    footer {
		display: flex;
		justify-items: center;
		justify-content: space-between;
		padding-inline: 10px;
	}
	
	.linkedin{
		font-size: 24px;
	}
	
	footer h3 {
		display: none;
	}

	footer div h3 {
		display: inherit;
		gap: .5rem;
		font-size: clamp(.5rem, 2vh, 3rem);
	}
	
	#back-to-top-btn, .fa-angles-up {
		display: none;
		visibility: hidden;
	}
}

@media (min-width: 60rem) and (max-width: 70rem) {
	.primary-header {
		display: flex;
		justify-content: space-between;
		padding-inline: 0;
		padding: .3rem;
	}
	
	.primary-header {
		padding-inline: 0;
	}

	.image-header {
		display: block;
		width: max-content;
		text-align: center;
		padding-left: 1rem;
	}

	.logo {
		max-width: 100px;
	}
	
	.nav-text {
		font-size: clamp(.5rem, 1.5vw, 2rem);
	}
	
	footer {
		padding-inline: .5rem;
	}

	footer h3 {
		font-size: clamp(.5rem, 2vh, 2rem);
	}

	footer h3 span {
		font-size: clamp(.5rem, 2vh, 2rem);
	}

	.linkedin{
		font-size: 28px;
	}
}

@media (min-width: 40rem) and (max-width: 60rem) {
	.primary-header {
		display: flex;
		justify-content: space-between;
		padding-inline: 0;
		padding: .3rem;
	}
	
	.primary-header {
		padding-inline: 0;
	}

	.image-header {
		display: block;
		width: max-content;
		text-align: center;
		padding-left: 1rem;
	}

	.logo {
		max-width: 120px;
	}
	
	.nav-text {
		font-size: clamp(.5rem, 2vw, 2rem);
	}
	
	footer {
		padding-inline: .5rem;
	}

	footer h3 {
		font-size: clamp(.5rem, 1.8vh, 2rem);
	}

	footer h3 span {
		font-size: clamp(.5rem, 1.8vh, 2rem);
	}

	.linkedin {
		font-size: 28px;
	}

	#back-to-top-btn {
		display: none;
	}
}

@media only screen and (orientation: landscape) and (min-width: 40rem) and (max-width: 60rem) {
	.sticky {
		position: inherit;
	}

	.primary-navigation {
		padding: 0;
	}

	.nav-text {
		font-size: clamp(.5rem, 1.6vw, 2rem);
	}

	footer .logo {
		max-width: 150px;
		display: inherit;
	}

	footer h3 {
		font-size: clamp(.5rem, 3.5vh, 3rem);
	}

	footer h3 span {
		font-size: clamp(.5rem, 3.5vh, 3rem);
	}

	.linkedin {
		font-size: 24px;
	}

	.bottom p {
		font-size: clamp(.5rem, 3vh, 3rem);
	}

	#back-to-top-btn {
		display: none;
	}
}

@media (min-width: 1920px) {
	.nav-text {
		font-size: clamp(.5rem, 1.3vw, 2rem);
	}

	footer h3 {
		font-size: clamp(.5rem, 2.2vh, 3rem);
	}
}