---
import Layout from "../layouts/Layout.astro";
import Directory from "../components/MachineDirectory.astro";
import { Carousel } from "../components/Carousel.jsx";
import { slides2 } from "../data/carouselData.json";
---

<Layout title="300 Ton Pacific Model - 8378 - Gerrard Group Inc" 
    description="" 
    title2="300 Ton Pacific Model - 8378 - Gerrard Group Inc" 
    url="https://www.gerrardgroupinc.com/liquidationssurplus/hydraulicpresses/300tonpacificmodel" 
    name="300 Ton Pacific Model - 8378 - Gerrard Group Inc" 
    url2="https://www.gerrardgroupinc.com/liquidationssurplus/hydraulicpresses/300tonpacificmodel" 
    title3="300 Ton Pacific Model - 8378 - Gerrard Group Inc"
    url3="https://www.gerrardgroupinc.com/liquidationssurplus/hydraulicpresses/300tonpacificmodel"
    canon="https://www.gerrardgroupinc.com/liquidationssurplus/hydraulicpresses/300tonpacificmodel">
    <Directory 
        title="300 Ton Pacific Model"
        page="Hydraulic Presses"
        page2="Machine Details"
        href="/liquidations"
        href2="/PacificHP"
    />
    <main class="page-container">
        <section class="machine-details">
            <Carousel client:load
                data={slides2}
            />
            <section class="machine-title">
				<h2>300 Ton Pacific Model 300-D-10-60 Downstroke Self Contained Hydraulic Press – New 1979
				Housing Type – Gib Guided - Dual Cylinder –“T-Slotted” Bed and Slide</h2>
				<p>Serial No.: <strong>8378 (1978)</strong></p>
				<hr>
			<div class="machine-info-container">
				<div class="details">
					<h4>Bed Area (Nominal):<span>123" L-R x 60" F-B (T-Slotted F-B)</span></h4>
					<h4>Slide Area (Nominal):<span>123" L-R x 60" F-B (T-Slotted F-B)</span></h4>
					<h4>Distance Between Housings:<span>28" L-R</span></h4>
					<h4>Stroke of Gib Guided Slide:<span>0" - 18" Max.</span></h4>
					<h4>Daylight Opening:<span>33" Max.</span></h4>
					<h4>Speeds Approx.:<span>215 IPM Fast Closing</span></h4>
					<div class="padding">
						<h4><span>80 IPM Slow Close</span></h4>
						<h4><span>25 IPM Pressing</span></h4>
						<h4><span>48 IPM Slow Return</span></h4>
						<h4><span>132 IPM Fast Return</span></h4>
					</div>
					<h4>Power Unit (Top Rear):<span>40 HP 460/3/60 Motor Driving Hydraulic Unit.</span></h4>
					<h4>Weight Approx.:<span>73,000 lbs.</span></h4>
					<h4>Physical Dimension Approx.:<span>L-R x 5' F-B x H</span></h4>
					<h4>Controls:<span class="controls">Push Button Operation with Stroke, Pressure and 
					Speed Control. Allen Bradley PLC Added in 2000. Light Curtains.</span></h4>
				</div>
			</div>
			</section>
        </section>
    </main>
</Layout>

<style type="text/css" is:inline>
    .page-container {
        padding-inline: 2rem;
    }

    .machine-details {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        margin: 5rem 0;
        padding: 1rem;
        gap: 0rem;
        box-shadow: 1px 1px 10px black;
	    border-radius: 10px;
    }

    .machine-title {
        width: 50%;
        box-shadow: 1px 1px 10px black;
        border-radius: 10px;
        padding: 1rem;
    }

    .machine-title h2 {
        font-size: clamp(.5rem, 3vh, 3rem);
        font-family: "Rokkitt", sans-serif;
        letter-spacing: .8px;
        margin: 0;
        color: #425abd;
    }

    .machine-title p {
	    font-size: clamp(.5rem, 2vh, 3rem);
	    font-family: "Rokkitt", sans-serif;
        margin: 1em 0;
    }

    .machine-info-container {
    	display: flex;
    	align-items: flex-start;
    	justify-content: space-between;
    	gap: 3rem;
	    margin-top: 2rem;
    }

    .details {
	    display: grid;
	    align-items: flex-start;
	    gap: .5rem;
    }

    h4 {
        display: flex;
        justify-content: space-between;
        font-size: clamp(.5rem, 2vh, 3rem);
        font-family: "Rokkitt", sans-serif;
        letter-spacing: .8px;
        margin: 0;
        color: #425abd;
    }

    .details span {
        display: grid;
        justify-content: flex-start;
        color: black;
        font-size: clamp(.5rem, 2vh, 3rem);
        font-family: "Rokkitt", sans-serif;
        margin: 0;
    }

    .padding {
        display: grid;
        gap: .5rem;
        justify-items: end;
    }

    .controls {
	    width: 60%;
    }

    @media (max-width: 40rem) {
        .page-container {
            padding-inline: .5rem;
        }

        .machine-details {
            flex-direction: column;
            gap: 1rem;
        }

        .carousel {
		    width: 90%;
		    height: 250px;
	    }

        .arrow-left {
            left: -1rem;
        }

        .arrow-right {
            right: -1rem;
        }

        .machine-title {
		    width: auto;
        }
        
        .machine-title h2 {
            font-size: clamp(.5rem, 2.5vh, 3rem);
        }
        
        .details {
            gap: 1rem;
        }
        
        h4 {
            display: grid;
            justify-content: flex-start;
        }
        
        .padding {
            justify-items: start;
            gap: 1rem;
        }
    }

    @media (min-width: 40rem) and (max-width: 60rem) {
        .machine-details {
            flex-direction: column;
            gap: 1rem;
        }

        .machine-title {
            width: auto;
        }

        .carousel {
		    width: 70%;
		    height: 400px;
	    }
    }

    @media (min-width: 60rem) and (max-width: 70rem) {
        .machine-details {
            flex-direction: column;
            gap: 1rem;
        }

        .machine-title {
            width: auto;
        }

        .carousel {
		    width: 70%;
		    height: 400px;
	    }
    }

    @media only screen and (orientation: landscape) and (min-width: 40rem) and (max-width: 60rem) {
        .directory-title {
            font-size: clamp(1rem, 2vh, 3rem);
        }

        .page-title {
            font-size: clamp(1rem, 5.5vh, 3rem);
        }
        
        .carousel {
            width: 65%;
            height: 350px;
        }

        .arrow-left {
            left: -1rem;
        }

        .arrow-right {
            right: -1rem;
        }

        .machine-details {
            flex-direction: column;
            gap: 1rem;
        }

        .machine-title {
            width: auto;
        }

        .machine-title h2 {
            font-size: clamp(1rem, 4vh, 3rem);
        }

        .machine-title p {
            font-size: clamp(.5rem, 3vh, 3rem);
        }

        h4 {
            font-size: clamp(1rem, 3vh, 3rem);
        }

        .details span {
            font-size: clamp(1rem, 3vh, 3rem);
        }
    }
</style>