---
import Layout from "../layouts/Layout.astro";
import Directory from "../components/MachineDirectory.astro";
import { Carousel } from "../components/Carousel.jsx";
import { slides3 } from "../data/carouselData.json";
---

<Layout title="600 Ton Pacific Hydraulic Press | Gerrard Group Inc" 
    description="600 Ton Pacific Model 600-D-10-54 Downstroke Self Contained Hydraulic Press – New 1979 Housing Type – Gib Guided - Dual Cylinder –“T-Slotted” Bed and Slide." 
    title2="600 Ton Pacific Hydraulic Press | Gerrard Group Inc" 
    url="https://gerrardgroupinc.com/600-ton-pacific-hydraulic-press/" 
    name="600 Ton Pacific Hydraulic Press | Gerrard Group Inc" 
    url2="https://gerrardgroupinc.com/600-ton-pacific-hydraulic-press/" 
    title3="600 Ton Pacific Hydraulic Press | Gerrard Group Inc"
    url3="https://gerrardgroupinc.com/600-ton-pacific-hydraulic-press/"
    canon="https://gerrardgroupinc.com/600-ton-pacific-hydraulic-press/">
    <Directory 
        title="600 Ton Pacific Model"
        page="Hydraulic Presses"
        page2="Machine Details"
        href="/liquidations"
    />
    <main class="page-container">
        <section class="machine-details">
            <Carousel client:load
                data={slides3}
            />
            <article class="machine">
				<h2>600 Ton Pacific Model 600-D-10-54 Downstroke Self Contained Hydraulic 
				Press – New 1979 Housing Type – Gib Guided - Dual Cylinder –“T-Slotted” Bed 
				and Slide</h2>
				<p>Serial No.: <strong>8378 (1979)</strong></p>
				<hr>
                <div class="machine-info-container">
                    <div class="details">
                        <div class="carousel-info">Bed Area (Nominal):<span>123" L-R x 54" F-B (T-Slotted F-B)</span></div>
                        <div class="carousel-info">Slide Area (Nominal):<span>123" L-R x 54" F-B (T-Slotted F-B)</span></div>
                        <div class="carousel-info">Distance Between Housings:<span>25" L-R</span></div>
                        <div class="carousel-info">Stroke of Gib Guided Slide:<span>0" - 18" Max.</span></div>
                        <div class="carousel-info">Daylight Opening:<span>36" Max.</span></div>
                        <div class="carousel-info">Max. Upper Die Weight:<span>10,000 lbs.</span></div>
                        <div class="carousel-info">Speeds Approx.:<span>192 IPM Fast Closing</span></div>
                        <div class="padding">
                            <div class="carousel-info"><span>74 IPM Slow Close</span></div>
                            <div class="carousel-info"><span>25 IPM Pressing</span></div>
                            <div class="carousel-info"><span>45 IPM Slow Return</span></div>
                            <div class="carousel-info"><span>123 IPM Fast Return</span></div>
                        </div>
                        <div class="carousel-info">Power Unit (Top Rear):<span>60 HP 460/3/60 Motor Driving Hydraulic Unit.</span></div>
                        <div class="carousel-info">Weight Approx.:<span>106,000 lbs.</span></div>
                        <div class="carousel-info">Physical Dimension Approx.:<span>13' L-R x 5' F-B x 26' H</span></div>
                        <div class="carousel-info">Controls:<span class="controls">Push Button Operation with Stroke, Pressure and 
                        Speed Control. Allen Bradley PLC Added in 2000. Light Curtains.</span></div>
                    </div>
                </div>
			</article>
        </section>
    </main>
</Layout>

<style is:inline>
    .page-container {
        padding-inline: 2rem;
    }

    .machine-details {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        margin: 5rem 0;
        padding: 1rem;
        gap: 0rem;
        box-shadow: 1px 1px 10px black;
	    border-radius: 10px;
    }

    .machine {
        width: 50%;
        box-shadow: 1px 1px 10px black;
        border-radius: 10px;
        padding: 1rem;
    }

    .machine h2 {
        font-size: clamp(.5rem, 3vh, 3rem);
        margin: 0;
        color: #425abd;
    }

    .machine p {
	    font-size: clamp(.5rem, 2vh, 3rem);
        margin: 1em 0;
    }

    .machine-info-container {
    	display: flex;
    	align-items: flex-start;
    	justify-content: space-between;
    	gap: 3rem;
	    margin-top: 2rem;
    }

    .details {
	    display: grid;
	    align-items: flex-start;
	    gap: .5rem;
    }

    .carousel-info {
        display: flex;
        justify-content: space-between;
        font-size: clamp(.5rem, 2vh, 3rem);
        margin: 0;
        color: #425abd;
        font-weight: bold;
    }

    .details span {
        display: grid;
        justify-content: flex-start;
        color: black;
        font-size: clamp(.5rem, 2vh, 3rem);
        margin: 0;
    }

    .padding {
        display: grid;
        gap: .5rem;
        justify-items: end;
    }

    .controls {
	    width: 60%;
    }

    @media (max-width: 40rem) {
        .page-container {
            padding-inline: .5rem;
        }

        .machine-details {
            flex-direction: column;
            gap: 1rem;
        }

        .carousel {
		    width: 90%;
		    height: 250px;
	    }

        .arrow-left {
            left: -1rem;
        }

        .arrow-right {
            right: -1rem;
        }

        .machine {
		    width: auto;
        }
        
        .machine h2 {
            font-size: clamp(.5rem, 2.5vh, 3rem);
        }
        
        .details {
            gap: 1rem;
        }
        
        .carousel-info {
            display: grid;
            justify-content: flex-start;
        }
        
        .padding {
            justify-items: start;
            gap: 1rem;
        }
    }

    @media (min-width: 40rem) and (max-width: 60rem) {
        .machine-details {
            flex-direction: column;
            gap: 1rem;
        }

        .machine {
            width: auto;
        }

        .carousel {
		    width: 70%;
		    height: 400px;
	    }
    }

    @media (min-width: 60rem) and (max-width: 70rem) {
        .machine-details {
            flex-direction: column;
            gap: 1rem;
        }

        .machine {
            width: auto;
        }

        .carousel {
		    width: 70%;
		    height: 400px;
	    }
    }

    @media only screen and (orientation: landscape) and (min-width: 40rem) and (max-width: 60rem) {
        .directory-title {
            font-size: clamp(.5rem, 3vh, 3rem);
        }

        .page-title {
            font-size: clamp(1rem, 6vh, 3rem);
        }
        
        .carousel {
            width: 65%;
            height: 350px;
        }

        .arrow-left {
            left: -1rem;
        }

        .arrow-right {
            right: -1rem;
        }

        .machine-details {
            flex-direction: column;
            gap: 1rem;
        }

        .machine {
            width: auto;
        }

        .machine h2 {
            font-size: clamp(1rem, 4vh, 3rem);
        }

        .machine p {
            font-size: clamp(.5rem, 3vh, 3rem);
        }

        .carousel-info {
            font-size: clamp(1rem, 3vh, 3rem);
        }

        .details span {
            font-size: clamp(1rem, 3vh, 3rem);
        }
    }
</style>