---
import Layout from "../layouts/Layout.astro";
import Directory from "../components/MachineDirectory.astro";
import { Carousel } from "../components/Carousel.jsx";
import { slides4 } from "../data/carouselData.json";
---

<Layout title="Process - Cooling Towers | Gerrard Group Inc" 
    description="Cooling Towers that will soon be available for purchasing."
    title2="Process - Cooling Towers | Gerrard Group Inc" 
    url="https://gerrardgroupinc.com/cooling-towers/" 
    name="Process - Cooling Towers | Gerrard Group Inc" 
    url2="https://gerrardgroupinc.com/cooling-towers/" 
    title3="Process - Cooling Towers | Gerrard Group Inc"
    url3="https://gerrardgroupinc.com/cooling-towers/"
    canon="https://gerrardgroupinc.com/cooling-towers/">
    <Directory 
        title="Process - Cooling Towers"
        page="Cooling Towers"
        page2="Machine Details"
        href="/liquidations"
    />
    <main class="page-container">
        <section class="machine-details">
            <Carousel client:load
                data={slides4}
            />
        </section>
    </main>
</Layout>

<style is:inline>
    .page-container {
        display: flex;
        justify-content: center;
        margin-block: 5rem;
    }

    .machine-details {
        user-select: none;
    }

    @media (max-width: 40rem) {
        .carousel {
		    width: 300px;
		    height: 250px;
	    }

        .arrow-left {
            left: -1rem;
        }

        .arrow-right {
            right: -1rem;
        }
    }
</style>