---
import Layout from "../layouts/Layout.astro";
import Specialties from "../components/Specialties.astro";
---

<Layout title="Gerrard Group Inc"
    description="Professional Industrial Auctions, Liquidations, Appraisals, Consulting Services and Used Machinery Sales. Experienced industrial asset and disposition experts in used CNC,vfabricating machinery & equipment, rubber & plastics, machine tools, coil processing, stamping presses and many others. Aerospace, mining, foundry, biotech, automotive, maerial handling, pharmaceuticals and more." 
    title2="Gerrard Group Inc" 
    url="https://www.gerrardgroupinc.com" 
    name="Gerrard Group Inc" 
    url2="https://www.gerrardgroupinc.com" 
    title3="Gerrard Group Inc" 
    url3="https://www.gerrardgroupinc.com"
    canon="https://www.gerrardgroupinc.com">
	<header class="welcome">
        <div>
            <h1 class="welcome-text"><strong><span class="intro"></span></strong><span class="cursor">&nbsp;</span></h1>
            <h1 class="moto-text"><strong><span class="moto"></span></strong><span class="cursor2">&nbsp;</span></h1>
        </div>
        <picture>
            <source media="(max-width:40rem)" srcset="../images/gerrard_montage_3_final.jpg">
            <img class="banner" src="../images/gerrard_montage_3_copy2.jpg" alt="machines in a warehouse">
        </picture>
    </header>
    <main class="page-container">
        <div class="page-background">
            <article class="wrapper">
                <h2><strong>About Gerrard Group / Gerrard Machinery Company</strong></h2>
                <div class="gap">
                    <div class="comp-info-one">
                        <img src="../images/robot_arm.png" alt="robot arm image" />
                        <p><strong>Gerrard Group / Gerrard Machinery Company</strong> specializes in Auctions and 
                            Liquidations for a wide variety of Machinery, Equipment and other Assets.
                            Our used machinery division, <strong>Gerrard Machinery Company, LLC</strong>, buys and 
                            sells industrial machinery and equipment as a regular course of business. 
                            This diversity gives us a broader understanding of both the retail and 
                            wholesale markets which puts our clients at a huge advantage. This, along 
                            with our strategic partners around the country and abroad, our group is 
                            able to service a wide variety of business sectors.
                        </p>
                    </div>
                    <div class="comp-info-two">
                        <img loading="lazy" src="../images/warehouse.png" alt="warehouse image" />
                        <p>In addition to Auctions and Liquidations, we provide Appraisal and 
                            Consulting Services to help determine <strong>highest possible returns</strong> of Company 
                            Assets. We are not a “High Volume” or “Cookie Cutter” company, we believe 
                            every project comes with its own needs and expectations. Our team has the 
                            knowledge, dedication and understanding you need.
                        </p>
                    </div>
                    <div class="comp-info-three">
                        <img loading="lazy" loading="lazy" src="../images/people_talking.png" alt="people in a factory" />
                        <p>Whether it’s a single piece of equipment, plant relocation, multiple 
                            facilities, or demolition projects, we are your trusted source. Talk to 
                            one of our team members to discuss how we can help.
                        </p>
                    </div>
                </div>
                <!--<img class="img-workers" loading="lazy" src="../images/Factory+People+2_copy.jpg" alt="people in a factory">
                <article class="comp-info">
                    <h2><strong>About Gerrard Group / Gerrard Machinery Company</strong></h2>
                    <p><strong>Gerrard Group / Gerrard Machinery Company</strong> specializes in Auctions and 
                        Liquidations for a wide variety of Machinery, Equipment and other Assets.
                        Our used machinery division, <strong>Gerrard Machinery Company, LLC</strong>, buys and 
                        sells industrial machinery and equipment as a regular course of business. 
                        This diversity gives us a broader understanding of both the retail and 
                        wholesale markets which puts our clients at a huge advantage. This, along 
                        with our strategic partners around the country and abroad, our group is 
                        able to service a wide variety of business sectors.</p>
    
                    <p>In addition to Auctions and Liquidations, we provide Appraisal and 
                        Consulting Services to help determine <strong>highest possible returns</strong> of Company 
                        Assets. We are not a “High Volume” or “Cookie Cutter” company, we believe 
                        every project comes with its own needs and expectations. Our team has the 
                        knowledge, dedication and understanding you need.</p>
    
                    <p>Whether it’s a single piece of equipment, plant relocation, multiple 
                        facilities, or demolition projects, we are your trusted source. Talk to 
                        one of our team members to discuss how we can help.</p>
                </article>-->
            </article>
        </div>
        <div class="desc-back">
            <article class="description">
                <h2><strong>Gerrard Group / Gerrard Machinery Company Specializes In...</strong></h2>
                <div class="specialties">
                    <div class="special-list">
                        <Specialties 
                            src="../images/auction-icon.png"
                            alt="auction icon"
                            para="Auctions"
                        />
                    </div>
                    <div class="special-list">
                        <Specialties 
                            src="../images/liquidation-icon.png"
                            alt="liquidation icon"
                            para="Liquidation"
                        />
                    </div>
                    <div class="special-list">
                        <Specialties 
                            src="../images/appraisal-icon.png"
                            alt="appraisal icon"
                            para="Appraisals"
                        />
                    </div>
                    <div class="special-list">
                        <Specialties 
                            src="../images/used-machinery-icon.png"
                            alt="cash register icon"
                            para="Retail Used Machinery Sales"
                        />
                    </div>
                    <div class="special-list">
                        <Specialties 
                            src="../images/dollar-sign-icon.png"
                            alt="dollar sign icon"
                            para="Machinery & Equipment Buy and Sell Programs"
                        />
                    </div>
                    <div class="special-list">
                        <Specialties 
                            src="../images/demolition-icon.png"
                            alt="demolition icon"
                            para="Demolition & Remediation Projects"
                        />
                    </div>
                    <div class="special-list">
                        <Specialties 
                            src="../images/consulting-icon.png"
                            alt="Consulting icon"
                            para="Consulting"
                        />
                    </div>
                </div>
            </article>
            <article class="industries">
                <h2><strong>Industries</strong></h2>
                <div class="industries-wrapper">
                    <div class="industries-list">
                        <Specialties 
                            src="../images/metals-icon.png"
                            alt="metals icon"
                            para="Fabricating, Metal, Rubber & Plastics Equip."
                        />
                    </div>
                    <div class="industries-list">
                        <Specialties 
                            src="../images/cnc-icon.png"
                            alt="cnc icon"
                            para="CNC & Robotics"
                        />
                    </div>
                    <div class="industries-list">
                        <Specialties 
                            src="../images/tools-icon.png"
                            alt="tools and equipment icon"
                            para="Tooling & Support Equip."
                        />
                    </div>
                    <div class="industries-list">
                        <Specialties 
                            src="../images/construction-icon.png"
                            alt="construction icon"
                            para="Construction & Mining"
                        />
                    </div>
                    <div class="industries-list">
                        <Specialties 
                            src="../images/iron-icon.png"
                            alt="iron icon"
                            para="Yellow Iron"
                        />
                    </div>
                    <div class="industries-list">
                        <Specialties 
                            src="../images/oil-icon.png"
                            alt="oil icon"
                            para="Oil & Gas"
                        />
                    </div>
                    <div class="industries-list">
                        <Specialties 
                            src="../images/transportation-icon.png"
                            alt="transportation icon"
                            para="Transportation"
                        />
                    </div>
                    <div class="industries-list">
                        <Specialties 
                            src="../images/aerospace-icon.png"
                            alt="aerospace icon"
                            para="Aerospace"
                        />
                    </div>
                    <div class="industries-list">
                        <Specialties 
                            src="../images/energy-icon.png"
                            alt="energy sector icon"
                            para="Energy Sector"
                        />
                    </div>
                    <div class="industries-list">
                        <Specialties 
                            src="../images/warehouse-icon.png"
                            alt="warehouse icon"
                            para="Warehouse & Support"
                        />
                    </div>
                    <div class="industries-list">
                        <Specialties 
                            src="../images/food-icon.png"
                            alt="food and beverage icon"
                            para="Food & Beverage"
                        />
                    </div>
                    <div class="industries-list">
                        <Specialties 
                            src="../images/package-icon.png"
                            alt="pulp & packaging icon"
                            para="Pulp & Packaging"
                        />
                    </div>
                    <div class="industries-list">
                        <Specialties 
                            src="../images/biotech-icon.png"
                            alt="biotech icon"
                            para="High-Tech & Biotech"
                        />
                    </div>
                    <div class="industries-list">
                        <Specialties 
                            src="../images/pharmaceutical-icon.png"
                            alt="pharmaceutical icon"
                            para="Medical, Dental & Pharmaceutical"
                        />
                    </div>
                    <div class="industries-list">
                        <Specialties 
                            src="../images/inventory-icon.png"
                            alt="inventory icon"
                            para="Raw, WIP & Finished Inventories (used for, or made from mfg. equipment)"
                        />
                    </div>
                </div>
            </article>
            <!--<div class="description">
                <article class="comp-special">
                    <h2><strong>Gerrard Group / Gerrard Machinery Company Specializes In...</strong></h2>
                    <ul>
                        <li>Auctions</li>
                        <li>Liquidation</li>
                        <li>Appraisals</li>
                        <li>Retail Used Machinery Sales</li>
                        <li>Machinery & Equipment Buy and Sell Programs</li>
                        <li>Demolition & Remediation Projects</li>
                        <li>Consulting</li>
                    </ul>
                </article>
                <article class="industries">
                    <h2><strong>Industries</strong></h2>
                    <ul>
                        <li>Fabricating, Metal, Rubber & Plastics Equip.</li>
                        <li>CNC & Robotics</li>
                        <li>Tooling & Support Equip.</li>
                        <li>Construction & Mining</li>
                        <li>Yellow Iron</li>
                        <li>Oil & Gas</li>
                        <li>Transportation</li>
                        <li>Aerospace</li>
                        <li>Energy Sector</li>
                        <li>Warehouse & Support</li>
                        <li>Food & Beverage</li>
                        <li>Pulp & Packaging</li>
                        <li>High-Tech & Biotech</li>
                        <li>Medical, Dental & Pharmaceutical</li>
                        <li>Raw, WIP & Finished Inventories<br> (used for, or made from
                        mfg. equipment)</li>
                    </ul>
                </article>
            </div>-->
            <section class="locations">
                <h3><strong>Offices Located In:</strong></h3>
                <ul>
                    <li>St. Louis, MO</li>
                    <li>Chicago, IL</li>
                    <li>Spokane, WA</li>
                </ul>
            </section>
        </div>
    </main>
</Layout>

<style type="text/css" is:inline>
    .banner {
	    width: 100%;
	    height: 400px;
	    opacity: 40%;
        border-bottom: 1px solid rgba(35,39,47,1);
    }

    .welcome {
        text-align: center;
        position: relative;
    }

    .welcome div {
        display: grid;
        justify-content: center;
        align-content: center;
        position: absolute;
        color: #003860;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        gap: .5rem;
        padding-inline: .5rem;
    }

    .welcome-text {
        font-size: clamp(1rem, 4vh, 10rem);
        margin: 0;
        overflow: hidden;
    }
    .moto-text {
        font-size: clamp(1rem, 4vh, 5rem);
        margin: 0;
    }

    .cursor2 {
        display: inline-block;
        width: 3px;
        background-color: #ccc;
        margin-left: .1rem;
        animation: blink .8s infinite;
    }

    .cursor2.typing {
        animation: none;
    }

    .page-background {
        border-top: .1px solid rgba(35,39,47,0);
        background-image: conic-gradient(from 90deg at -10% 100%,#ffffff 0deg,#dbecff 90deg,#fff 1turn);
    }

    /*.wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        margin-top: 5rem;
	    margin-bottom: 0;
    }*/

    .wrapper {
        max-width: 1200px;
        margin: auto;
        margin-block: 5rem;
    }

    .gap {
        display: grid;
    }

    .wrapper h2 {
        font-size: clamp(1rem, 3.5vh, 3rem);
	    text-align: center;
	    color: #425abd;
        margin-bottom: 3rem;
    }

    .wrapper p {
        max-width: 800px;
        margin: auto;
        font-size: clamp(.5rem, 2.3vh, 2rem);
	    text-indent: 55px;
    }

    .comp-info-one img, .comp-info-two img, .comp-info-three img {
        width: 250px;
        filter: drop-shadow(0 0 10px hsl(215, 37%, 21%));
    }

    .comp-info-one, .comp-info-two, .comp-info-three {
        margin-bottom: 6.25rem;
    }

    .comp-info-one {
        display: flex;
        align-items: center;
    }

    .comp-info-two {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .comp-info-three {
        display: flex;
        align-items: center;
    }

    .desc-back {
        text-align: center;
        border-top: 1px solid rgba(35,39,47,.1);
        background-image: conic-gradient(from 90deg at -10% 100%,#bcc1cd 0deg,#dbecff 90deg,#fff 1turn);    
    }

    .desc-back h2 {
        font-size: clamp(1rem, 3.5vh, 3rem);
	    color: #425abd;
        margin: 0;
        margin-bottom: 3rem;
    }

    .desc-back img {
        width: 50px;
        height: auto;
    }

    .desc-back p {
        max-width: 97px;
        margin-inline: auto;
        font-size: clamp(.5rem, 1.1rem, 3rem);
    }
    
    .description {
        padding-inline: 1rem;
        margin: 5rem 0;
        margin-bottom: 8rem;
        max-width: 1200px;
        margin-inline: auto;
    }

    .specialties {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-inline: 1rem;
        gap: 2rem;
        row-gap: .5rem;
    }

    .img-container {
        display: inline-flex;
        padding: 1.5rem;
        border-radius: 50%;
        background-image: linear-gradient(145deg,rgba(226, 249, 255, 0.6) 0%,rgb(49, 93, 175) 100%);
        box-shadow: 0 10px 15px -3px #9ca3af, 0 4px 6px -4px #9ca3af;
    }

    .industries {
        max-width: 1200px;
        margin-inline: auto;
        margin-bottom: 8rem;
    }

    .industries-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-inline: 1rem;
        gap: 2rem;
        row-gap: .5rem;
    }

    .industries .img-container {
        background-image: linear-gradient(145deg,rgb(233, 244, 255) 0%,rgb(22, 73, 115) 100%);
    }

    /*.comp-info {
        width: 80%;
        height: auto;
    }

    .comp-info h2 {
        font-size: clamp(1rem, 3vh, 3rem);
	    text-align: center;
	    color: #425abd;
        margin: 0;
    }

    .comp-info p {
	    font-size: clamp(.5rem, 2vh, 2rem);
	    text-indent: 55px;
    }

    .img-workers {
        width: 100%;
        max-width: 500px;
    }*/

    /*.description {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        gap: 5rem;
        margin-top: 3rem;
        padding: 2rem;
    }

    .description li { 
        list-style: none;
    }

    .description li:before { 
        content:''; padding-right:10px
    }*/

    /*.comp-special {
        display: grid;
        justify-content: space-around;
	    font-size: clamp(.5rem, 1.6vh, 2rem);
	    list-style-position: outside;
    }

    .comp-special h2 {
        width: 95%;
        font-size: clamp(1rem, 2.8vh, 3rem);
        text-align: center;
        color: #425abd;
        margin: 0;
        margin-bottom: 1rem;
    }

    .comp-special ul {
        line-height: 30px;
	    padding: 0 2rem;
	    margin: 0;
	    font-size: clamp(.5rem, 2vh, 2rem);
    }

    .industries {
        display: grid;
        justify-content: space-around;
	    font-size: clamp(.5rem, 1.6vh, 2rem);
	    list-style-position: outside;
    }

    .industries h2 {
        font-size: clamp(1rem, 3vh, 3rem);
        text-align: center;
        color: #425abd;
        margin: 0;
        margin-bottom: 1rem;
    }

    .industries ul {
        line-height: 30px;
	    font-size: clamp(.5rem, 2vh, 2rem);
	    padding: 0;
	    margin: 0;
        column-count: 2;
        gap: 1.6rem;
    }*/

    .locations {
	    text-align: center;
	    margin-bottom: 5rem;
    }

    .locations h3 {
        font-size: clamp(1rem, 2.8vh, 3rem);
        margin: 0;
        margin-bottom: 1rem;
    	color: #425abd;
    }

    .locations ul {
    	display: flex;
    	justify-content: center;
	    list-style: none;
        font-size: clamp(.5rem, 2.5vh, 3rem);
	    padding: 0;
	    margin: 0;
	    gap: 2rem;
    }

    .locations li {
	    font-size: clamp(.5rem, 2.2vh, 3rem);
	    font-weight: bold;
	    text-decoration: underline;
    }

    @media (max-width: 40rem) {
        .welcome div {
		    gap: 1rem;
            padding-inline: .5rem;
	    }

        .banner {
            height: 200px;
        }
	
	    .welcome-text {
		    font-size: clamp(1rem, 3vh, 5rem);
	    }
	
	    .moto-text {
		    font-size: clamp(.5rem, 2.5vh, 5rem);
	    }

        /*.wrapper {
            display: grid;
            margin-top: 1rem;
            margin-inline: 0;
        }*/

        .wrapper {
            padding-inline: 1rem;
            margin-top: 2rem;
        }

        .wrapper h2 {
            margin-top: 0;
        }

        .wrapper p {
            text-indent: inherit;
            width: inherit;
            max-width: inherit;
            margin: 0;
        }

        .comp-info-one, .comp-info-two, .comp-info-three {
            display: grid;
            gap: 2rem;
        }

        .comp-info-one img, .comp-info-two img, .comp-info-three img {
            margin: auto;
            width: 200px;
        }

        .img-workers {
            max-width: 250px;
        }

        .description {
            margin-top: 2rem;
            padding-inline: 1rem;
        }

        .specialties {
            justify-content: center;
            gap: 1.5rem;
            row-gap: inherit;
        }

        .specialties img {
            width: 50px;
        }

        /*.comp-info {
            width: inherit;
            margin-top: 2rem;
        }

        .comp-info h2 {
            font-size: clamp(1rem, 2.8vh, 3rem);
        }

        .comp-info p {
            font-size: clamp(1rem, 2vh, 3rem);
            text-indent: 25px;
        }

        .img-workers {
            display: none;
        }

        .description {
            margin-top: 3rem;
            display: grid;
            gap: 3rem;
            padding-top: 0;
            padding-inline: 1rem;
        }

        .description ul {
            text-align: center;
            column-count: 1;
        }

        .comp-special {
            list-style-position: inside;
        }

        .comp-special h2 {
            width: 100%;
            font-size: clamp(.5rem, 5.5vw, 3rem);
        }

        .comp-special ul {
            line-height: 35px;
            font-size: clamp(.5rem, 4.5vw, 3rem);
            padding-inline: 2rem;
        }

        .industries {
            list-style-position: inside;
        }

        .industries h2 {
            font-size: clamp(.5rem, 5.5vw, 3rem);
        }

        .industries ul {
            line-height: 35px;
            font-size: clamp(.5rem, 4.5vw, 3rem);
        }*/

        .locations {
            margin: 3.5rem 0;
        }

        .locations h2 {
            font-size: clamp(.5rem, 5.5vw, 3rem);
        }

        .locations ul {
            gap: 1rem;
        }

        .locations ul li {
            font-size: clamp(.5rem, 4vw, 3rem);
        }
    }

    @media (min-width: 60rem) and (max-width: 70rem) {
        .welcome-text {
            font-size: clamp(1rem, 3vh, 5rem);
            margin: 0;
            overflow: hidden;
        }

        .moto-text {
            font-size: clamp(1rem, 3vh, 5rem);
            margin: 0;
        }

        .wrapper {
            padding-inline: 2rem;
        }

        .wrapper h2 {
        }

        .wrapper p {
            max-width: 600px;
        }

        .comp-info-one, .comp-info-two, .comp-info-three {
            display: flex;
            gap: 0;
        }

        /*.wrapper {
            display: block;
            margin-inline: 1rem;
        }

        .comp-info {
            width: inherit;
            margin-top: 3rem;
        }

        .comp-info h2 {
            font-size: clamp(.5rem, 2.8vw, 2rem);
        }

        .comp-info p {
            font-size: clamp(.5rem, 1.8vh, 1.5rem);
        }

        .img-workers {
            float: left;
            max-width: 300px;
            margin-right: .8rem;
        }

        .description {
            display: grid;
            gap: 3rem;
            margin-inline: 0;
        }

        .comp-special h2 {
            font-size: clamp(.5rem, 2.8vw, 2rem);
            width: 100%;
        }

        .comp-special ul {
            font-size: clamp(.5rem, 2.4vw, 2rem);
            line-height: 44px;
            text-align: center;
            list-style-position: inside;
        }

        .industries h2 {
            font-size: clamp(.5rem, 2.8vw, 2rem);
        }

        .industries ul {
            font-size: clamp(.5rem, 2.4vw, 2rem);
            line-height: 44px;
            column-count: 3;
            list-style-position: inside;
        }*/
    }

    @media (min-width: 40rem) and (max-width: 60rem) {
        .welcome-text {
            font-size: clamp(1rem, 3vh, 5rem);
            margin: 0;
            overflow: hidden;
        }

        .moto-text {
            font-size: clamp(1rem, 3vh, 5rem);
            margin: 0;
        }

        .wrapper {
            row-gap: 3rem;
            padding-inline: 1rem;
        }

        .wrapper p {
            width: inherit;
        }

        .comp-info-one, .comp-info-two, .comp-info-three {
            display: flex;
            gap: 1rem;
        }

        /*.wrapper {
            display: block;
            margin-inline: 1rem;
        }

        .comp-info {
            width: inherit;
            margin-top: 3rem;
        }

        .comp-info h2 {
            font-size: clamp(.5rem, 2.8vw, 2rem);
        }

        .comp-info p {
            font-size: clamp(.5rem, 1.8vh, 1.5rem);
        }

        .img-workers {
            float: left;
            max-width: 300px;
            margin-right: .8rem;
        }

        .description {
            display: grid;
            gap: 3rem;
            margin-inline: 0;
        }

        .comp-special h2 {
            font-size: clamp(.5rem, 2.8vw, 2rem);
            width: 100%;
        }

        .comp-special ul {
            font-size: clamp(.5rem, 2.4vw, 2rem);
            line-height: 44px;
            text-align: center;
            list-style-position: inside;
        }

        .industries h2 {
            font-size: clamp(.5rem, 2.8vw, 2rem);
        }

        .industries ul {
            font-size: clamp(.5rem, 2.4vw, 2rem);
            line-height: 44px;
            column-count: 3;
            list-style-position: inside;
        }*/
    }

    @media only screen and (orientation: landscape) and (min-width: 40rem) and (max-width: 60rem) {
        .welcome-text {
            font-size: clamp(1rem, 6.5vh, 5rem);
        }

        .moto-text {
            font-size: clamp(.5rem, 6vh, 5rem);
        }

        .banner {
		    height: 150px;
	    }

        .wrapper {
            padding-inline: 1rem;
            margin-top: 2rem;
        }

        .wrapper h2 {
            font-size: 24px;
            margin-top: 0;
            margin-bottom: 3rem;
        }

        .wrapper p {
            font-size: 14px;
            text-indent: inherit;
            max-width: 400px;
        }

        .comp-info-one, .comp-info-two, .comp-info-three {
            display: flex;
            gap: 2rem;
        }

        .img-workers {
            max-width: 250px;
        }

        /*.wrapper {
            display: block;
            margin-top: 0;
            margin-inline: 0;
        }

        .comp-info {
            width: inherit;
            margin-top: 3rem;
        }

        .comp-info h2 {
            font-size: clamp(.5rem, 2.5vw, 2rem);
        }

        .comp-info p {
            font-size: clamp(.5rem, 2.8vh, 2rem);
            text-indent: 25px;
        }

        .img-workers {
            float: left;
            max-width: 250px;
            margin-right: 10px;
        }

        .description {
            display: flex;
            margin-inline: 0;
            padding-inline: 1rem;
            padding-top: 0;
            gap: 3rem;
        }

        .comp-special h2 {
            font-size: clamp(1rem, 2vw, 2rem);
            width: 100%;
        }

        .comp-special ul {
            font-size: clamp(.5rem, 2vw, 2rem);
            line-height: 25px;
            text-align: left;
            padding: 0;
            list-style-position: inside;
        }

        .industries h2 {
            font-size: clamp(1rem, 2vw, 2rem);
        }

        .industries ul {
            font-size: clamp(.5rem, 2vw, 2rem);
            column-count: 2;
            gap: .5rem;
            line-height: 20px;
            list-style-position: inside;
        }*/

        .locations {
            margin: 2.5rem 0;
        }

        .locations h2 {
            font-size: clamp(1rem, 7vw, 3rem);
        }

        .locations ul {
            gap: 1rem;
        }

        .locations ul li {
            font-size: clamp(.5rem, 2.5vw, 3rem);
        }
    }

    @media (min-width: 1920px) {
        .banner {
            height: 350px;
        }
        
        .page-container {
            padding-inline: 0;
        }

        .wrapper {
            max-width: 1600px;
        }

        .gap {
            gap: 25rem;
        }

        .wrapper p {
            max-width: 1200px;
        }

        .comp-info-one img, .comp-info-two img {
            width: 350px;
            filter: drop-shadow(0 0 10px hsl(215, 37%, 21%));
        }

        .img-workers {
            width: 500px;
        }

        /*.wrapper {
            justify-content: center;
            align-items: center;
            gap: 3rem;
        }

        .comp-info {
            width: 60%;
        }*/
    }
</style>

<script async type="text/javascript" defer="defer" is:inline>
    const typedTextSpan = document.querySelector(".intro");
    const cursor = document.querySelector(".cursor");
    const typedText = document.querySelector(".moto");
    const cursor2 = document.querySelector(".cursor2");

    const textArray = ["Welcome to Gerrard Machinery Company"];
    const titleArray = ["Buyer's and Sellers of Industrial Machinery and Equipment"];
    const typingDelay = 70;

    let textArrayIndex = 0;
    let charIndex = 0;

    let titleArrayIndex = 0;
    let charIndex2 = 0;

    function type() {
	    if(charIndex < textArray[textArrayIndex].length) {
	    	if(!cursor.classList.contains("typing")) cursor.classList.add("typing");
		    typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex);
		    charIndex++
		    setTimeout(type, typingDelay);
	    }
	    else {
		    cursor.classList.remove("typing");
	    }
    }

    function typer() {
	    if(charIndex2 < titleArray[titleArrayIndex].length) {
	    	if(!cursor2.classList.contains("typing")) cursor2.classList.add("typing");
	    	typedText.textContent += titleArray[titleArrayIndex].charAt(charIndex2);
		    charIndex2++
		    setTimeout(typer, typingDelay);
	    }
	    else {
	    	cursor2.classList.remove("typing");
	    }
    }

    document.addEventListener("DOMContentLoaded", function() {
	    if(textArray.length) setTimeout(type, typingDelay + 250);
	    if(titleArray.length) setTimeout(typer, typingDelay + 3700);
    });
</script>