---
import Layout from '../layouts/Layout.astro';
import Card from "../components/Card.astro";
import "../styles/Card.css";
---

<Layout title="Liquidations & Surplus - Gerrard Group Inc" 
    description="Exceptional pricing on surplus CNC machinery, hydraulic presses. mechanical presses, fabricating machinery, rolling mills, coil processing, rollforming, labeling equipment, liquid filling, bearings, forklifts and many more. Check this page often for new additions." title2="Liquidations/Surplus - Gerrard Group Inc" url="https://www.gerrardgroupinc.com/liquidationssurplus"
    name="Liquidations & Surplus - Gerrard Group Inc" 
    url2="https://www.gerrardgroupinc.com/liquidationssurplus" 
    title3="Liquidations & Surplus - Gerrard Group Inc"
    url3="https://www.gerrardgroupinc.com/liquidationssurplus"
    canon="https://www.gerrardgroupinc.com/liquidationssurplus">
    <main class="page-container">
        <h1 class="title"><span class="title-text"></span><span class="cursor">&nbsp;</span></h1>
        <section class="cards">
            <Card 
                name="200T Pacific Hydraulic Press"
                imageURL="/gerrardgroupinc/..//images/10744-press-1.JPG"
                btnName="More Details"
                href="/200TPacificDetails"
                alt="img1"
            />
            <Card 
                name="300T Pacific Hydraulic Press"
                imageURL="/gerrardgroupinc/..//images/10743-press-1.jpg"
                btnName="More Details"
                href="/300TPacificDetails"
                alt="img2"
            />
            <Card 
                name="600T Pacific Hydraulic Press"
                imageURL="/gerrardgroupinc/..//images/10742-press-1.jpg"
                btnName="More Details"
                href="/600TPacificDetails"
                alt="img3"
            />
        </section>
        <!--<div class="nav-title">
            <h2>Machine Navigation</h2>
            <p>Shop by Category</p>
        </div>
        <div class="container">
            <nav>
                <ul class="pagination">
                    <li class="disabled">A</li> 
                    <li class="disabled">B</li> 
                    <li class="disabled">C</li> 
                    <li class="disabled">D</li> 
                    <li class="disabled">E</li>
                    <li class="disabled">F</li>
                    <li class="disabled">G</li>
                    <li><a href="#type-h">H</a></li>
                    <li class="disabled">I</li>
                    <li class="disabled">J</li>
                    <li class="disabled">K</li>
                    <li class="disabled">L</li>
                    <li class="disabled">M</li>
                    <li class="disabled">N</li>
                    <li class="disabled">O</li>
                    <li class="disabled">P</li>
                    <li class="disabled">Q</li>
                    <li class="disabled">R</li>
                    <li class="disabled">S</li>
                    <li class="disabled">T</li>
                    <li class="disabled">U</li>
                    <li class="disabled">V</li>
                    <li class="disabled">W</li>
                    <li class="disabled">X</li>
                    <li class="disabled">Y</li>
                    <li class="disabled">Z</li>
                </ul> 
            </nav>
        </div>
        <h1 class="dir-title"><strong>Machine Directory</strong></h1>
            <div class="index-dir">
                <div class="index-col">
                    <div class="index-anc">
                        <h4 class="none">A</h4>
                        <ul>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                            <h4 class ="type-b">B</h4>
                        <ul>
                            <li>
                                <a href="#"></a>
                                <a href="/timkenBearings">Timken Heavy Duty Bearings</a>
                            </li>
                        </ul>
                        <h4 class ="type-c">C</h4>
                        <ul>
                            <li>
                                <a href="#"></a>
                                <a href="/CNC-Turning">CNC Turning Machines</a>
                            </li>
                        </ul>
                        <h4 class ="none">D</h4>
                        <ul>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                        <h4 class ="none">E</h4>
                        <ul>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                        <h4 class ="none">F</h4>
                        <ul>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                        <h4 class ="none">G</h4>
                        <ul>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                        <h4 id ="type-h">H</h4>
                        <ul>
                            <li>
                                <a href="/PacificHP">Hydraulic Presses</a>
                            </li>
                        </ul>
                        <h4 class ="none">I</h4>
                        <ul>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                        <h4 class ="none">J</h4>
                        <ul>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                        <h4 class ="none">K</h4>
                        <ul>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                        <h4 class ="none">L</h4>
                        <ul>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                        <h4 class ="none">M</h4>
                        <ul>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="index-col">
                    <div class="index-anc">
                        <h4 class ="none">N</h4>
                        <ul>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                        <h4 class ="none">O</h4>
                        <ul>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                        <h4 class ="none">P</h4>
                        <ul>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                        <h4 class ="none">Q</h4>
                        <ul>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                        <h4 class ="none">R</h4>
                        <ul>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                        <h4 class ="type-s">S</h4>
                        <ul>
                            <li>
                                <a href="#"></a>
                                <a href="/straight-side-presses">Straight Sidee 4 Point Presses</a>
                            </li>
                        </ul>
                        <h4 class="none">T</h4>
                        <ul>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                        <h4 class="none">U</h4>
                        <ul>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                        <h4 class ="none">V</h4>
                        <ul>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                        <h4 class ="none">W</h4>
                        <ul>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                        <h4 class ="none">X</h4>
                        <ul>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                        <h4 class ="none">Y</h4>
                        <ul>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                        <h4 class ="none">Z</h4>
                        <ul>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>-->
    </main>
</Layout>

<style type="text/css" is:inline>
    .href2 {
        pointer-events: none;
    }

    .page-container {
        margin-top: 3rem;
        margin-bottom: 8rem;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .card-container {
        height: 400px;
    }

    .image-container img {
        width: 280px;
        height: 230px;
        max-width: inherit;
        border-radius: 10px;
    }

    .card-content {
        margin: 0;
    }

    .card-title {
        margin: 0;
        padding-inline: 1rem;
    }

    .container h2 {
        display: none;
    }

    .link-text {
        font-size: clamp(1rem, 3vh, 3rem);
        pointer-events: none;
        color: black;
        text-decoration: none;
    }

    .btn a {
        font-size: clamp(1rem, 1.5vh, 3rem);
    }
    
    .card-phone, .card-email, .card-body {
        display: none;
    }
    /*html {
        scroll-behavior: smooth;
    }

    .page-container {
        display: flex;
        flex-direction: column;
        justify-items: center;
        font-family: 'Rokkitt', serif;
        margin: 3rem 0;
        padding-inline: 2rem;
    }*/
    
    .title {
        text-align: center;
        text-decoration: underline;
        text-decoration-color: black;
        text-decoration-thickness: 6%;
        font-size: clamp(2rem, 3.8vh, 5rem);
        font-family: 'Rokkitt', serif;
        color: #055895;
        margin-top: 0;
        margin-bottom: 6rem;
        padding-inline: 2rem;
    }

    @media (max-width: 40rem) {
        .page-container {
            margin-top: 3rem;
            margin-bottom: 3rem;
        }

        .title {
            margin-bottom: 2rem;
        }

        .image-container img {
            width: 280px;
            height: 230px;
        }

        .card-title {
            padding-inline: 0;
        }

        .card-container {
            padding-inline: 2rem;
        }
    }

    @media (min-width: 40rem) and (max-width: 60rem) {
        .page-container {
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
        
        .title {
            margin-bottom: 3rem;
        }
    }

    @media screen and (orientation: landscape) {
        .link-text {
            font-size: clamp(1rem, 4vh, 3rem);
        }
    }

    /*.container {
        font-family: 'Rokkitt', serif;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-title {
        text-align: center;
        font-size: clamp(.5rem, 2.3vh, 3rem);
	    letter-spacing: 1px;
        border-radius: 5px;
	    background: #425abd;
	    color: #fff;
        margin: 0;
        padding: .5rem 0;
    }

    h2, p {
        margin: 0;
        padding: 0;
    }

    .pagination {
        display: flex;
        flex-wrap: wrap;
        padding: .8rem;
        margin: 0;
        gap: .5rem;
        box-shadow: 0px 0px 0px #ffffff73, 3px 1px 5px rgba(94, 104, 121, 0.288);
        border-radius: 10px;
    }

    .pagination li {
        font-size: clamp(.5rem, 2.5vh, 3rem);
        list-style: none;
        padding: .3rem .6rem;
        box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
    }

    .pagination li a {
        text-decoration: none;
        color: #055895;
    }

    .pagination li a:hover {
        color: #20a2ff;
    }

    .disabled {
        color: rgba(0, 0, 0, 0.2)    
    }

    .dir-title {
        text-align: center;
        font-family: 'Rokkitt', serif;
        margin-top: 8rem;
        margin-bottom: 0;
        font-size: clamp(.5rem, 3vh, 3rem);
        letter-spacing: 1px;
        border: 1px solid black;
        padding: 1rem;
        background: #425abd;
        color: #fff;
    }

    .index-dir {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
	    align-items: flex-start;
	    align-content: center;
	    padding: 1rem 1rem;
    }

    .index-col {
	    font-family: 'Rokkitt', serif;
	    width: 36%;
    }

    .index-anc ul {
        padding-left: 1rem;
    }

    h4 {
	    font-size: clamp(1rem, .2vw + 1rem, 4rem);
	    padding: 0 10px;
	    font-weight: bold;
	    color: #425abd;
	    border: 1px solid rgba(0,0,0,.3);
	    background-image: -webkit-linear-gradient(rgba(211,211,211,.2), rgba(0,0,0,.05));
    }

    li {
        list-style: none;
    }

    .index-anc ul li a {
        font-size: clamp(1rem, .2vw + 1rem, 4rem);
	    text-decoration: none;
	    color: #425abd;
    }

    .index-anc ul li a:hover {
        text-decoration: underline;
	    color: #4bace7;
    }

    .disabled {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    @media (max-width: 40rem) {
        .index-dir {
            flex-direction: column;
            padding-inline: .5rem;
        }

        .index-col {
            width: 100%;
        }
    }*/
</style>

<!--<script type="text/javascript" src="../scripts/header-script.js"></script>-->

<script async type="text/javascript" defer="defer" is:inline>
    const typedTextSpan = document.querySelector(".title-text");
    const cursor = document.querySelector(".cursor");
    const textArray = ["Liquidations and Surplus"];
    const typingDelay = 70;

    let textArrayIndex = 0;
    let charIndex = 0;
    
    function type() {
        if(charIndex < textArray[textArrayIndex].length) {
            if(!cursor.classList.contains("typing")) cursor.classList.add("typing");
            typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex);
            charIndex++
            setTimeout(type, typingDelay);
            }
            else {
                cursor.classList.remove("typing");
        }
    }
    
    document.addEventListener("DOMContentLoaded", function() {
        if(textArray.length) setTimeout(type, typingDelay + 250);
    });
</script>