---
import Layout from "../layouts/Layout.astro";
import Directory from "../components/MachineDirectory.astro";
import { Carousel } from "../components/Carousel.jsx";
import { slides5 } from "../data/carouselData.json";
---

<Layout title="Pallet Jack | Gerrard Group Inc" 
    description="Pallet Jacks that will soon be available for purchasing"
    title2="Pallet Jack | Gerrard Group Inc" 
    url="https://gerrardgroupinc.com/palletjackdetails/" 
    name="Pallet Jack | Gerrard Group Inc" 
    url2="https://gerrardgroupinc.com/palletjackdetails/" 
    title3="Pallet Jack | Gerrard Group Inc"
    url3="https://gerrardgroupinc.com/palletjackdetails/"
    canon="https://gerrardgroupinc.com/palletjackdetails/">
    <Directory 
        title="Pallet Jack"
        page="Jacks"
        page2="Machine Details"
        href="/liquidations"
    />
    <main class="page-container">
        <section class="machine-details">
            <Carousel client:load
                data={slides5}
            />
        </section>
    </main>
</Layout>

<style is:inline>
    .page-container {
        display: flex;
        justify-content: center;
        margin-block: 5rem;
    }

    .machine-details {
        user-select: none;
    }

    @media (max-width: 40rem) {
        .carousel {
		    width: 300px;
		    height: 250px;
	    }

        .arrow-left {
            left: -1rem;
        }

        .arrow-right {
            right: -1rem;
        }
    }
</style>