---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Services" 
    description="Gerrard Group / Gerrard Machinery services in Auctions, Liquidations, Buying & Selling Equipment, Appraisals, and Consulting."
    canon="https://gerrardgroupinc.com/services/">
    <main class="page-container">
        <h1 class="title"><span class="title-text"></span><span class="cursor">&nbsp;</span></h1>
        <section class="cards">
            <Card 
                title="Auctions, Liquidations and Buying & Selling of Equipment:"
                name="Auctions, Liquidations and Buying & Selling of Equipment:"
                body="Our group meticulously evaluates each project and the client’s needs, then develops and executes the optimum marketing and sale scenario to achieve highest returns. Equally important, Our commission programs or buy-outs are developed to maximize returns, which often puts more money in our client’s pockets."
            />
            <Card 
                title="Appraisal Services:"
                name="Appraisal Services:"
                body="Our appraisers perform properly researched 'gross & net' Forced Liquidation (FL), Orderly Liquidation (OL) and Fair Market Value (FMV) appraisals which adhere to USPAP (Uniform Standards of Professional Appraisal Practice). Also, based on the project, We can perform 'Desk Top', non- inspected appraisals."
            />
            <Card 
                title="Consulting Services:"
                name="Consulting Services:"
                body="Our group provides consulting services to determine the highest and best use of a company’s assets and inventory, which can be helpful in business making decisions."
            />
        </section>
    </main>
</Layout>

<style is:inline>
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
    }

    .page-container {
        display: grid;
        justify-items: center;
        margin: 3rem 0;
    }

    .card-container {
        display: grid;
        justify-content: center;
        justify-items: center;
        align-items: center;
        width: auto;
        height: auto;
        margin-inline: 8rem;
    }
    
    .card-container:hover {
        transform: scale(1);
    }
    
    .card-content {
        margin: 1rem;
        margin-bottom: 0;
    }
    
    .card-title {
        margin-bottom: .5rem;
    }
    
    .card-body {
        color: hsl(216, 53%, 84%);
        display: grid;
        font-size: clamp(.5rem, 2.7vh, 3rem);
        margin: 1rem 0;
    }

    .card-phone, .card-email, .image-container, .btn {
        display: none;
    }

    @media (max-width: 40rem) {
        .card-container {
            margin-inline: 1.5rem;
        }
    }

    @media (min-width: 60rem) and (max-width: 70rem) {
        .card-body {
            font-size: clamp(1rem, 3vh, 3rem);
        }
    }

    @media only screen and (orientation: landscape) and (min-width: 40rem) and (max-width: 60rem) {
        .card-body {
            font-size: clamp(1rem, 3vh, 3rem);
        }
    }
</style>

<script async type="text/javascript" defer="defer" is:inline>
    const typedTextSpan = document.querySelector(".title-text");
    const cursor = document.querySelector(".cursor");
    const textArray = ["Services"];
    const typingDelay = 70;

    let textArrayIndex = 0;
    let charIndex = 0;
    
    function type() {
        if(charIndex < textArray[textArrayIndex].length) {
            if(!cursor.classList.contains("typing")) cursor.classList.add("typing");
            typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex);
            charIndex++
            setTimeout(type, typingDelay);
            }
            else {
                cursor.classList.remove("typing");
        }
    }
    
    document.addEventListener("DOMContentLoaded", function() {
        if(textArray.length) setTimeout(type, typingDelay + 250);
    });
</script>