---
import { Image } from 'astro:assets';
import { BsLinkedin } from 'react-icons/bs/index.js'

import logo from '../../public/images/dans logo copy6.png';
---

<footer>
    <a title="Go to home" href="/">
        <Image 
            class="logo" 
            src={logo} 
            alt="gerrard group logo"
            width={logo.width} 
            height={logo.height}
            loading="lazy"
            format="webp"
        />
    </a>
    <h3>Phone: <span>847-894-3434</span> | Email: <a href="mailto:gerrardmachinery@gmail.com" target="_blank">
    <span>gerrardmachinery@gmail.com</span></a>
    </h3>
    <div>
        <h3>Connect with us</h3>
        <a class="linkedin" href="https://www.linkedin.com/company/gerrard-group-inc/" target="_blank" title="Go to Linkedin profile" aria-label="LinkedIn Profle Link"><BsLinkedin /></a>
    </div>
</footer>
<div class="bottom">
        <p>© Gerrard Group, Inc., all rights reserved	|	<a href="/contact"><span>Contact Us</span></a></p>
</div>