<footer>
    <a title="Go to home" href="/">
        <img loading="lazy" class="logo" src="../images/dans logo copy6.png" alt="gerrard group logo">
    </a>
    <h3>Phone: <span>847-894-3434</span> | Email: <a href="mailto:gerrardmachinery@gmail.com" target="_blank">
    <span>gerrardmachinery@gmail.com</span></a>
    </h3>
    <div>
        <h3>Connect with us</h3>
        <a href="https://www.linkedin.com/in/danielgerrard/" target="_blank" title="Go to Linkedin profile"><i class="fa-brands fa-linkedin"></i></a>
    </div>
</footer>
<footer class="bottom">
        <p>© Gerrard Group, Inc., all rights reserved	|	<a href="/contact"><span>Contact Us</span></a></p>
</footer>