<button title="Back to top" id="back-to-top-btn" aria-label="back to top of page button">
	<i class="fa-solid fa-angles-up"></i>
</button>
<header class="primary-header sticky">
	<div class="image-header">
		<a title="Go to home" href="/">
			<picture>
				<source srcset="../images/dans logo copy6.png?version=1" media="(max-width: 40rem)">
				<img class="logo" src="../images/dans logo copy5.png" alt="gerrard group logo"/>
			</picture>
		</a>
	</div>
	<button title="Navigation menu" class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
		<span class="sr-only">Menu</span>
		<i class="fa-solid fa-bars"></i>
	</button>
	<nav>
		<ul id="primary-navigation" data-visible="false" class="primary-navigation flex sticky">
			<li>
				<a class="nav-text" href="/"><strong>HOME</strong></a>
			</li>
			<li>
                <a class="nav-text" href="/auctions"><strong>AUCTIONS</strong></a>
			</li>
			<li>
				<a class="nav-text" href="/liquidations"><strong>LIQUIDATION/SURPLUS</strong></a>
			</li>
			<li>
				<a class="nav-text" href="/services"><strong>SERVICES</strong></a>
			</li>
			<li>	
				<a class="nav-text" href="/contact"><strong>CONTACT</strong></a>
    		</li>
		</ul>
	</nav>
</header>

<script is:inline>
	const primaryNav = document.querySelector(".primary-navigation");
	const navToggle = document.querySelector(".mobile-nav-toggle");

	function closeMenu() {
		primaryNav.setAttribute("data-visible", false);
		navToggle.setAttribute("data-visible", false);
		navToggle.style.color = "black";
	}

	window.addEventListener('popstate', function () {
		closeMenu();
	});

	const navLinks = document.querySelectorAll(".primary-navigation a");

	navLinks.forEach(function (link) {
		link.addEventListener('click', function () {
			closeMenu();
		});
	});

	navToggle.addEventListener('click', () => {
	const visibility = primaryNav.getAttribute("data-visible");
		
	if (visibility === "false") {
		navToggle.style.color = "white";
		primaryNav.setAttribute("data-visible", true);
		navToggle.setAttribute("aria-expand", true);
	} else if (visibility === "true") {
		navToggle.style.color = "black";
		primaryNav.setAttribute("data-visible", false);
		navToggle.setAttribute("aria-expand", false);
	}
	});
</script>