---
import { Image } from 'astro:assets';
import { RxHamburgerMenu } from 'react-icons/rx/index.js';
import { BiUpArrowAlt } from 'react-icons/bi/index.js';

import logo from '../../public/images/dans logo copy6.png';
---

<button type="button" title="Back to top" id="back-to-top-btn" aria-label="back to top of page button">
	<BiUpArrowAlt />
</button>
<header class="primary-header sticky">
	<div class="image-header">
		<a title="Home page" href="/">
			<Image 
				class="logo" 
				src={logo} 
				alt="gerrard group logo"
				width={logo.width} 
				height={logo.height}
				loading="eager"
				format="webp"
			/>
		</a>
	</div>
	<button type="button" title="Navigation menu" class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
		<RxHamburgerMenu />
	</button>
	<nav>
		<ul id="primary-navigation" data-visible="false" class="primary-navigation flex sticky">
			<li>
				<a class="nav-text" href="/"><strong>Home</strong></a>
			</li>
			<li>
                <a class="nav-text" href="/auctions/"><strong>Auctions</strong></a>
			</li>
			<li>
				<a class="nav-text" href="/liquidations/"><strong>Liquidation/Surplus</strong></a>
			</li>
			<li>
				<a class="nav-text" href="/services/"><strong>Services</strong></a>
			</li>
			<li>	
				<a class="nav-text" href="/contact/"><strong>Contact</strong></a>
    		</li>
		</ul>
	</nav>
</header>

<script is:inline>
	const primaryNav = document.querySelector(".primary-navigation");
	const navToggle = document.querySelector(".mobile-nav-toggle");

	function closeMenu() {
		primaryNav.setAttribute("data-visible", false);
		navToggle.setAttribute("data-visible", false);
		navToggle.style.color = "black";
	}

	window.addEventListener('popstate', function () {
		closeMenu();
	});

	const navLinks = document.querySelectorAll(".primary-navigation a");

	navLinks.forEach(function (link) {
		link.addEventListener('click', function () {
			closeMenu();
		});
	});

	navToggle.addEventListener('click', () => {
	const visibility = primaryNav.getAttribute("data-visible");
		
	if (visibility === "false") {
		navToggle.style.color = "white";
		primaryNav.setAttribute("data-visible", true);
		navToggle.setAttribute("aria-expand", true);
	} else if (visibility === "true") {
		navToggle.style.color = "black";
		primaryNav.setAttribute("data-visible", false);
		navToggle.setAttribute("aria-expand", false);
	}
	});
</script>