---
export interface Props {
    para: string;
    src: string;
    alt: string;
}

const { para, src, alt } = Astro.props as Props;
---

<div class="img-container">
    <img decoding="async" loading="lazy" src={src} alt={alt} />
</div>
<p>{para}</p>